body {
  background-color:#23272A;
  color: #fff;
  font-family:'Open Sans', sans-serif;
  border:0;
}


@media screen and (min-width: 700px) {
  body {
    font-size:14px;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size:12px;
  }
}

h1 {
  border-bottom-width:1px;
  border-bottom-color: #2C2F33;
  border-bottom-style: double;
  width: 100%;
  color: #99AAB5;
  text-align: center;
}

h3 {
  text-align: center;
  color:#99AAB5;
}

div {
  margin: auto;
  width:90%;
}

a:link, a:hover, a:visited, a:active {
  color:#7289DA;
}

.wrapper {
  width:100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border:0;
  margin-bottom: 25px;
}

code, .commands td:first-child {
  color: rgba(255,94,94,1);
  font-family: 'Hack', monospace;
}

.permissions {
  color: #77dd77;
  font-family: 'Hack', monospace;
}

table {
  width: 100%;
  margin: auto;
}

th [colspan="2"] {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #2d3034;
}
.commands td {
  width: 500px;
  padding-bottom: 8px;
  padding-top: 8px;
}
.commands td:nth-child(1) {
  text-align:left;
  padding-left: 5px;
}
.commands td:nth-child(2) {
  text-align:left;
}
.commands {
    border-spacing:0px;
}
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   margin-top: -10px;
   text-align: center;
   background-color: inherit;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    text-align:center;
    margin-bottom: 40px;
    width: auto;
    min-width:90%;
    max-width:100%;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    outline: none;
    cursor: pointer;
    padding: 5px 2px;
    transition: 0.3s;
    background-color:inherit;
    display:block; /* change this from inline-block */
    margin: 1.5px;
    position:relative;
    color:inherit;
    border: 1.5px solid rgba(255,94,94,1);
    border-radius:4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 700px) {
  div.tab button {
    width: 12%;
  }
}

@media screen and (max-width: 700px) {
  div.tab button {
    width: 16%;
  }
}

div.tab button p {
  text-align:center;
}

@media screen and (min-width: 700px) {
  div.tab button p {
    font-size:0.84em;
  }
}

@media screen and (max-width: 700px) {
  div.tab button p {
    font-size:0.6em;
  }
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgba(255,94,94,1);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(255,94,94,1);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 7px;
    padding-bottom: 20px;
    border-top: none;
    text-align: center;
    margin-bottom:40px;
}
